* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TeamPage {
  background: url(../../Images/fire_football.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.TeamPageSection {
  text-align: center;
}

.TeamSection {
  border: 1px solid black;
  margin-top: 10%;
  margin-right: 20px;
  margin-left: 20px;
  background: #ffffff;
}

h1 {
  color: #ffffff;
}

.teamHead {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  .TeamSection {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1100px) {
  .TeamSection {
    width: 50%;
    margin-top: 40px;
  }
}
