* {
    box-sizing: border-box;
}

label {
    display: block;
}

form {
    text-align: left;
}

input {
    width: 100%;
    align-items: center;
}

.AddTeamSection {
    align-content: center;
    margin: 20px;
    padding: 10px 10px;

}